BUG: expect: 100-continue is not properly supported

If a request contains expect: 100-continue then per section 8.2.3 of RFC 2616 the server MUST either respond with a 100 Continue response OR it MUST return a final status code. The listener does neither as far as I can tell. This breaks Ektorp unless you turn off 100-continue support on the client side but how the heck is a client supposed to know to do that? I can see two choices. One bad but legal and one good but hard.

Bad But Legal - The Listener could look for the expect header and immediately return a 417 Expectation Failed. This would be legal. But how many clients would then fall back to not using the expect header?

Good But Hard - The Listener could properly support 100-Continue. This is hard because near as I can tell there is no support in the Servlet API for this. So we would probably need a TJWS specific hack to make this work. I sent mail to [the TJWS help mailing list](https://sourceforge.net/p/tjws/discussion/110264/) asking for suggestions.
